<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_final">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_final">
        <activity
            android:name=".HistrorialCompras"
            android:exported="true" />
        <activity
            android:name=".Historial"
            android:exported="true" />
        <activity
            android:name=".RealizarPedidos"
            android:exported="true" />
        <activity
            android:name=".productoSeleccionadoCliente"
            android:exported="true" />
        <activity
            android:name=".Negocio_consultado"
            android:exported="true" />
        <activity
            android:name=".AdministrarNegocio"
            android:exported="true"
            android:label="@string/title_activity_administrar_negocio"
            android:theme="@style/Theme.Proyecto_final.NoActionBar" />
        <activity
            android:name=".AgregarNegocioNuevo"
            android:exported="true" />
        <activity
            android:name=".Principal"
            android:exported="true"
            android:label="@string/title_activity_principal" />
        <activity
            android:name=".RegistroVendedor"
            android:exported="true" />
        <activity
            android:name=".RegistroCliente"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>